---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: set favicon -->
    <title>Joel Lau</title>
  </head>
  <body>
    <header>
      <nav>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </nav>
    </header>
    <article id="about">
      <p>
        Hi 👋, I'm <span>Joel Lau</span>.
      </p>
      <p>I'm a full stack developer currently based in Singapore.</p>
    </article>
    <section id="contact">
      <nav>
        <li><a href="https://linkedin.com/in/joel-lau">LinkedIn</a></li>
        <li><a href="https://github.com/JoelLau">GitHub</a></li>
      </nav>
    </section>
  </body>
</html>
